@import url(http://fonts.googleapis.com/css?family=Cutive+Mono|Sorts+Mill+Goudy|Roboto:400,300,100,500|Raleway:400,200,300,600,500|Special+Elite|Sanchez&subset=latin,latin-ext);


body {
/*
background:url(../images/Welcome_Photo.jpg);
height: 100%;
background-height: 100%;
background-repeat:no-repeat;
background-position: right top;
*/
margin: 0px;
}

#social {
	position: fixed;
	bottom: 8px;
	left: 8px;
	width: 33px;
	margin: 5px;
	z-index: 555;
}

#cbcg_logo {
	float: left;
	top: 30%;
	left: 10%;
	z-index: 100;
	width: 582px;
	clear: both;
}

#wrapper {
	position: relative;
	width: 582px;
	margin-top: 10%;
	margin-left: 5%;
	text-align: center;
}

img.background {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;

}

#coming {
	text-align: center;
	position: relative;
	vertical-align: center;
}

#col_right {
	position: absolute;
	top:0;
	right: 0;
	z-index: 0;
	height: 100%;
	clear: both;
}

a.fbook, a.twitt, a.instagram, a.tumblr {
	display: inline-block;
	float: left;
	margin-top: 8px;
	width: 33px;
	height: 33px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap; 
	background: url(../images/socialicons.png) no-repeat;
}

a.fbook { background-position: 0 0; }
a.fbook:hover { background-position: 0 -33px; }
a.fbook:active { background-position: 0 -33px; }

a.twitt { background-position: -47px 0; }
a.twitt:hover { background-position: -47px -33px; }
a.twitt:active { background-position: -47px -33px; }

a.tumblr { background-position: -191px 0; }
a.tumblr:hover { background-position: -191px -33px; }
a.tumblr:active { background-position: -191px -33px; }

a.instagram { background-position: -286px 0; }
a.instagram:hover { background-position: -286px -33px; }
a.instagram:active { background-position: -286px -33px; }

h3 {
	font-family: Cutive Mono;
	font-size: 24px;
	color: rgba(0, 0, 0, .4);
	line-height: 0em;
	border: solid black 0px;
	float: ;
	padding: 0px;
	margin-top: 20px;

}

/* #logo {
	position: relative;
	top: 35%;
	left: 10%;
	margin-bottom: 0px;
	z-index: 1;
} */

div #name {
	float: left;
	position: relative;
	display: block;
	border: 1px;
	margin: 50px auto;
	line-height: 0px;

}

.col_left {
	float: left;
	height: 100%;

}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

h1 {
	margin: 0px;
}

#logo h1 { /*selects the element with the id="logo" */
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	font-weight: 200;
	color: #444444;
}

h1 .CG {/* selects only <h1> inside*/ 
	font-family: 'Sanchez', serif;
	font-size: 50px;
	color: #444444;
	letter-spacing: -.05em;
}
/*
img {
	float: right;
	padding: 0px;
	height: 100%;
	position: fixed;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
	line-height: 0;
}

*/